/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   html{
     --primary:#f1c40f;
   }
   
   body{
     font-family: "Montserrat", sans-serif;
     background-color: #eee;
     color: #333;
   
   }
   
   
   h1 ,h2 , h3 , h4 
   {
     margin-bottom:  1rem;
   }
   
   a{
     color: white;
     text-decoration: none;
   }
   
   strong{
     color:  var(--primary);
     font-weight: 400;
   }
   
   .container{
    display: block;
    max-width: 1200px;
    margin: auto;
   }
   .title{
    
     font-weight: 300;
     font-size: 2rem;
     margin-bottom: 2rem;
   }
   .bg-dark{
     background-color: #333;
     color: white;
   }
   em{
     color:#555;
   }
   
   /*Vp  +  Header*/
   .vp-container{
   
     min-height: 100vh;
     display: flex;
     flex-direction: column;
   }
   
   header{
   
     padding: 1rem 2rem;
     background-color: #333;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     line-height: 1.8rem;
   
   }
   
   .vp-logo{
     margin-bottom: 0;
     font-family: "Liu Jian Mao Cao", cursive;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
   
   }
   
   .vp-logo a
   {
     
     font-size: 1.8rem;
   }
   
   
   .vp-logo i {
   
     color:  var(--primary);
     font-size: 1.5rem;
     margin-right: -0.5rem;
   
   }
   
   header ul 
   {
     display: flex;
     flex-flow: row nowrap;
     list-style: none;
   
   }
   
   header ul li {
     padding: 0 1rem;
   }
   
   header ul li a:hover {
     color:  var(--primary);
   }
   
   /*VP section*/
   
   .vp{
   
     flex: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     background: url(../images/frame.jpg) center center / cover;
   
   }
   
   .vp-content{
    max-width: 800px;
    text-align: center; 
    color: white;
   }
   
   .vp-content h1 
   {
     font-size: 3.2rem;
     margin-bottom: 2rem;
   }
   
   .vp-content p{
     font-size: 1.8rem;
     font-weight: 300;
     letter-spacing: 1px;
     line-height: 2rem;
   }
   
   /*offer section*/
   
   .offer{
     padding: 10rem 1rem;
   }
   
   .offer-list{
     display: flex ;
     flex-flow: row nowrap;
     list-style: none;
   
   }
   
   .offer-elem{
     margin: 1rem;
     background-color: white;
     border: 1px solid #ddd;
     flex: 1;
     box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
     border-radius: 30px;
     transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
   }
   
   
   .offer-elem:hover{
     transform: translateY(-5px);
     box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
   
   
   }
   
   .offer-elem-img{
     width: 100%;
   }
   .offer-elem-text{
     padding: 2rem;
     text-align: center;
   }
   .offer-separator{
     background-color: #333;
     width: 50px;
     height: 2px;
     margin: 1rem auto;
   
   }
   
   /*who section*/
   .who{
     display: flex;
     flex-flow: row nowrap;
   }
   
   .who-content-img{
     flex: 1;
   }
   
   .who-content-text{
     flex: 1;
     padding: 4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
   .who-content-img img {
   
     width: 100%;
   }
   
   .who-content-text p{
     font-size: 1.3rem;
     line-height: 1.8rem;
     
   }
   .who-content-text h2{
     margin-bottom: 2rem;
     
   }
   /*partie4*/
   .testimonials{
     padding :5rem 1rem;
   
   }
   .testimonials-content{
     display:flex;
     flex-direction:column;
   }
   .testimonials-elem{
     flex:1;
     background:white;
     border-radius:5px;
     padding:2rem;
     display:flex;
     flex-flow:row nowrap;
     align-items:center;
     margin-bottom:1rem;
   
   
   }
   .testimonials-elem-text{
     padding: 0 2rem;
   }
   .testimonials-elem-profil img{
     width: 50px;
     border-radius: 50px;
     margin-bottom: 0.5rem;
   
   }
   .testimonials-elem-profil p{
     font-weight: 700;
     margin-bottom: 0.5rem;
   }
   .testimonials-elem-text p i{
     margin:0.2rem;
   }
   
   /*contact*/
   .contact{
     padding:10rem 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   .contact-form{
     max-width:600px ;
     display: flex;
     flex-direction: column;
     width: 100%;
     
   }
   .contact-form input{
     padding:1rem;
     background:#333;
     border:0;
     border-bottom: 1px solid #555;
     font-size:1.3rem;
     outline:0;
     margin-bottom: 1rem;
   
   }
   .contact-form button{
     display: block;
     margin: 3rem auto;
     padding:1rem 2rem;
     border:0;
     border-radius:30px;
     background: var(--primary);
     color: white;
     font-weight: 700;
     cursor: pointer;
     font-size: 1.3rem;
   }
   .contact-form button:hover{
     background-color: red;
   
   }
   
   /*footer*/
   footer{
     background: #444;
     padding:5rem 1rem;
     color:white;
     text-align: center;
   }
   footer p{
     margin-bottom:0;
   
   }